body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  margin: 30px;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
}

#banner-area{
  background-color: #EB7B29;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#banner{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer{
  background-color: white;
}
