body {
  background-color: #668cff;
}

h1 {
  color: white;
  text-align: center;
  margin: 30px;
}

h2 {
  font-family: verdana;
  font-size: 20px;
  color: white;
}

li{
  color: white;
}

#banner-area{
  background-color: #ffb84d;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 25px;
  height: 150px;
}

#banner{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 30px;
}

footer{
  background-color: white;
}
